/* --- Smokes and backgrounds --- */

.img-back {
  background: url('../assets/grid.jpg');
}

.smoke-layer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 39, 51, 0.527);
}

.smoke-ipt-bg {
  background-color: rgba(24, 26, 29, 0.856);
}

/* --- Input styles --- */
.ipt-style {
  border-radius: 9px;
  border: 1px solid white;
  padding: 3px;
}

.ipt-style input[type=text]:focus {
  color: #fff;
}