/* --- Smokes and backgrounds --- */

.img-back {
  background-image: url('../../assets/grid.jpg');
  background-repeat: repeat;
  min-width: 100%;
  min-height: 100vh;
}

.smoke-layer {
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  background: rgba(9, 16, 29, 0.699);
}

.smoke-ipt-bg {
  background-color: rgba(24, 26, 29, 0.856);
}

/* --- Input styles --- */
.ipt-style {
  border-radius: 9px;
  /* border: 1px solid white; */
  padding: 3px;
}

.ipt-style input[type=text] {
  color: #fff;
}